.navigation .container .navbar .auth {
    padding-left: 175px;
}

.navigation .container .navbar .auth .border {
    height: 30px;
    margin: 20px auto 20px;
    position: relative;
    width: 40px;
    background: #92CA5A;
}

.navigation .container .navbar .auth .dropdown-toggle::after {
    content: none;
}

.navigation .container .navbar .auth .img-profile {
    max-width: 40px;
}

.line{
    width: 10px;
    height: 7%;
    background-color: #F0F0F0;
}
  
.circle {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    background-color: #92CA5A;
}

.img-position-1 {
    display: flex;
    justify-content: start;
}

.img-position-2 {
    display: flex;
    justify-content: end;
}

.number {
    margin-top: 25px;
    height: 30px;
}

.imgs3 {
    max-width: 200px;
}

.bg-line {
    background-color: transparent;
}

.center {
    display: flex;
    align-items: center;
}

.card .card-title {
    text-align: center;
}

.owl-carousel .owl-stage {
    display: flex;
    align-items: center;
}

.owl-prev {
    left: -30px;
}

.owl-next {
    right: -30px;
}

.owl-prev, .owl-next {
    position: absolute;
    top: 30%;
}

.owl-prev span, .owl-next span {
    font-size: 60px;
    color: #787878;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
    background-color: transparent;
}

@media only screen and (max-width: 767px) {
    .navigation .container .navbar .auth {
        padding-left: 20px;
    }

    .navigation .container .navbar .auth .border {
        height: 0px;
        margin: 0px;
        position: relative;
        width: 0px;
        background: #92CA5A;
    }

    .img-position-1 {
        display: flex;
        justify-content: center;
    }

    .img-position-2 {
        display: flex;
        justify-content: center;
    }
    
    .imgs3 {
        max-width: 0px;
    }

    .reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .bg-line {
        background-color: #F0F0F0;
    }
}